<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/priceyscomp/priceyscomp.component.css">
    <link rel="icon" href="/assets/PHOTOS/noun-home-5410071.svg">

    <title>PRICEY'S</title>
</head>
<body>


    <header>
        <a href="#"><h1><img  src="/assets/PHOTOS/WEB LOGO 1.gif" alt="PRICEY'S"></h1></a>
        <nav class="navbar">
        <ul>
             <li class="about"><a href="#">About</a></li>
            <li class="contact"><a href="#"> Contact<img width="20px"  src="/assets/PHOTOS/expand_more_FILL0_wght400_GRAD0_opsz48.png"></a>
                <ul>

                    <li class="customer care"><a href="#">Customercare
                        <ul>
                            <li><a href="">whatsapp</a></li>
                            <li><a href="">PHONE NO</a></li>
                        </ul>

                    </a></li>
                    <li class="E-mail"><a href="#"> E-mail</a></li>
                    <li class="Social-media"><a href="#">Socialmedia</a>
                        <ul>
                           <li><a href="">facebook</a></li>
                           <li><a href="">instagram</a></li>
                           <li><a href="">telegram</a></li>
                        </ul>
                    </li>
                    <li class="Address"><a href="">Address</a></li>

            </ul>
            </li>
            <li class="offers"><a id="off" tittle="offers"  [routerLink]="['/offers']" routerLinkActive="router-link-active"  target="blank">
                Offers</a></li>
            <li class="product"><a href="#"> Products<img width="20px" src="/assets/PHOTOS/expand_more_FILL0_wght400_GRAD0_opsz48.png"></a>
                <ul>
                   <li class="Mobiles"><a [routerLink]="['/mobiles']" routerLinkActive="router-link-active"  >Mobiles</a></li>
                    <li class="Laptops"><a [routerLink]="['/laptops']" routerLinkActive="router-link-active" >Laptops</a></li>
                    <li class="Storage & Accesories"><a [routerLink]="['/s&a']" routerLinkActive="router-link-active" >Storage & Accessories</a></li>
                    <li class="Sound"><a [routerLink]="['/sound']" routerLinkActive="router-link-active" >Sound</a></li>
                    <li class="softwares"><a [routerLink]="['/software']" routerLinkActive="router-link-active" >Softwares</a></li>
                </ul>
            </li>

            <li class="signup"> <a id="signup" title="signup" [routerLink]="['/signup']" routerLinkActive="router-link-active"
            routerLinkActive="router-link-active"   target="blank">
                <!-- <img src="/vscode/PHOTOS/pricey/userid.png" alt="signup"><br>-->Signup</a>
                 </li>
             <li class="signin"><a id="signin" title="signin" [routerLink]="['/signin']"   target="blank">
                <!-- <img src="/vscode/PHOTOS/pricey/userid.png" alt="signin"><br> -->Signin</a>

             </li>

        </ul>
    </nav>
</header>


<div class="shops">
    <div class="round">
        <h1 class="moto"><a [routerLink]="['/next']" routerLinkActive="router-link-active" ><button>COMPARE  &  SELECT YOUR PURCHASE IN</button></a></h1>
       </div>
        <ul>

                <li><a href="https://www.amazon.com/"><img src="/assets/PHOTOS/pricey/AMAZON.png" alt="amazon"></a></li>
                <li><a href="https://www.flipkart.com/"><img src="/assets/PHOTOS/pricey/flipkart-logo-detail-icon.jpeg" alt="flipkart"></a></li>
                <li><a href="https://www.jiomart.com/"><img src="/assets/PHOTOS/pricey/jiomart.png" alt="jiomart"></a></li>
                <li><a href="https://www.samsung.com/"><img src="/assets/PHOTOS/pricey/samsung_logo.jpg" alt="samsung"></a></li>
                <li><a href="https://www.apple.com/"><img src="/assets/PHOTOS/pricey/Apple_logo.png" alt="apple"></a></li>
                <li><a href="https://www.asus.com/in/"><img src="/assets//PHOTOS/pricey/asus.jpg" alt="asus"></a></li>
                <li><a href="https://www.mi.com/"><img src="/assets/PHOTOS/pricey/mi.png" alt="MI"></a></li>
                <li><a href="https://www.lenovo.com/in"><img src="/assets//PHOTOS/pricey/lenovo.png" alt="lenovo"></a></li>
                <li><a href="https://www.vivo.com/in"><img src="/assets/PHOTOS/pricey/vivo.png" alt="vivo"></a></li>
                <li><a href="https://www.hp.com/"><img src="/assets/PHOTOS/pricey/hp_logo.jpg" alt="hp"></a></li>
                <li><a href="https://www.dell.com/"><img src="/assets/PHOTOS/pricey/dell.png" alt="dell"></a></li>
                <li><a href="https://www.acer.com/"><img src="/assets/PHOTOS/pricey/acer_logo.jpg" alt="acer"></a></li>
                <li><a href="https://www.realme.com/"><img src="/assets/PHOTOS/pricey/Realme-Logo.jfif" alt="realme"></a></li>
                <li><a href="https://www.microsoft.com/"><img src="/assets/PHOTOS/pricey/ms.png" alt="MICROSOFT"></a></li>
                <li><a href="https://www.iqoo.com/in"><img src="/assets/PHOTOS/pricey/iqoo-phone.webp" alt="IQQQ"></a></li>
                <li><a href="https://www.boat-lifestyle.com/"><img src="/assets/PHOTOS/pricey/BoAt-logo.jpg" alt="BoAt"></a></li>
                <li><a href="https://www.oppo.com/"><img src="/assets/PHOTOS/pricey/oppo-mobile-logo.jpg" alt="oppo"></a></li>
                <li><a href="https://www.poco.in/"><img src="/assets/PHOTOS/pricey/poco.png" alt="poco"></a></li>
                <li><a href="https://in.jbl.com/"><img src="/assets/PHOTOS/pricey/JBL-Logo.png" alt="JBL"></a></li>
                <li><a href="https://www.oneplus.in/"><img src="/assets/PHOTOS/pricey/1+.png" alt="oneplus"></a></li>
        </ul>

    </div>
</body>





</html>
<!--<select name="" id="products">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>-->

